<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html;charset=UTF-8" http-equiv="content-type" />
  <meta content="width=device-width" name="viewport" />
  <title>PWE Update 2019</title>
  <link rel="stylesheet" href="../template/AC-2019-slides.css" />
  <link rel="alternate stylesheet" title="Photo banner" href="../template/alt.css" />
  <link rel="alternate stylesheet" title="AC logo" href="../template/alt2.css" />
  <link rel="alternate stylesheet" title="Watercolor" href="../template/alt3.css" />
  <script src="../template/shower.min.js" type="text/javascript"></script>
 </head>
 <body class="shower fade-in">

  <div class="comment">
   <p>This is a template for slides for <a href="/2019/04/AC/">AC
   2019</a>. For <a href="Overview.html#manual" >usage
   instructions</a>, see at the end.</p>
  </div>

  <!--=============================================================
			    PWE Update Slides
  ==============================================================-->

  <div class="progress">
   <!-- Remove this element if you don't want a progress bar -->
  </div>

  <div class="slide cover clear" id="start">
   <h1>PWE Update</h1>
   <address>Tzviya Siegman, Wiley</address>
  </div>

  <div class="slide" id="def">
   <h1>What is PWE?</h1>
      <p>W3C is a global community where participants choose to work together. In that community, we experience differences in language, location, nationality, and experience. In such a diverse environment, misunderstandings and disagreements happen, and in most cases can be resolved informally. The <a href="https://www.w3.org/community/pwe/">Positive Work Environment CG</a> focuses on the Code of Ethics and Professional Conduct. </p>
  </div>

 <div class="slide" id="refresh">
   <h1>Time for a Refresh</h1>
   <p>Codes of Conduct have received a lot of attention in recent years. There is some debate about the effectiveness of CoCs, but most tech organizations and conferences offer a CoC. </p>
     <p>Suggestions for updates to the language in CEPC came from a few places, but there was general agreement that the CEPC needs a refresh.</p>
         </div>
     
<div class="slide" id="upates">
   <h1>What needs updating in CEPC?</h1>
    <ul>
     <li>Improve current language perceived as too aggressive and vague. "Never discriminate on the basis of personal characteristics or group membership" does not offer much guidance to a group of people focused on writing detailed specifications.</li>
        <li>Offer positive guidance about how to behave.</li>
        <li>Propose concrete responses to violations or perceived violations of CEPC.</li>
        <li>Clarify that bullying is not acceptable.</li>

    </ul></div>
 
<div class="slide" id="approach">
   <h1>Our approach</h1>
   <p class="shout">Evidence!</p>
   </div>
         
         <div class="slide" id="evidence">
   <h1>How do we find evidence?</h1>
<ul>
    <li>Proven CoC templates, such as the <a href="https://www.contributor-covenant.org/"/>Contributor Covenant</a></li>
     <li>Recommendations by Open Source organizations like the <a href="https://todogroup.org/blog/followup-open-code-of-conduct/"> TODO Group</a></li>
     <li>Review scholarly publications on topics such as sexual harrassment in STEM</li>
             </ul>   
         
  </div>

<div class="slide" id="changes">
<h1>Proposed changes</h1>
    <p>See <a href="https://github.com/w3c/PWETF/pulls">Pull Requests</a> and offer feedback</p>
    <ul>
   <li>Revised introduction stressing the importance of Respect</li>
        <li>More nuanced language about social and cultural differences</li>
        <li>New section about what to do if you make a mistake</li>
        <li>Added section about unacceptable behavior</li>
        <li>Revised "expected behavior" section</li>
    </ul>
    <p>Thanks to Vladimir Levantovsky, Amy Van der Hiel, Ann Bassetti, and Ada Rose Cannon for their work on versions of the CEPC.</p>
</div>

<div class="slide" id="next">
    <h1>Finalize language in CEPC</h1>
    <ul>
    <li>The PWECG will propose final wording on the revisions to CEPC</li>
    <li>W3M will review and offer feedback</li></ul>
</div>

<div class="slide" id="ombuds">
<h1>Improving the ombuds program</h1>
    <p>We recieved feedback that the ombuds program needs to grow:</p>
    <ul>
   <li>Increase the number of ombuds</li>
        <li>Make sure ombuds represent the diverse population of W3C</li>
        <li>Offer additional ombuds training</li>
    </ul></div>

<div class="slide" id="ombudsTrain">
<h1>Training ombuds:</h1>
    <ul>
    <li>Reviewing materials from <a href="https://www.ombudsassociation.org/">International Ombudsman Association</a></li>
        <li>Reviewing materials from several university ombuds offices</li>
        <li>Assessing (with help of IOA) how to adapt materials created primarily for university setting</li>
    </ul>
</div>

<div class="slide" id="involve">
<h1>Your input</h1>
    <p>You can help too!</p>
    <ul>
    <li>Offer your feedback on CEPC</li>
        <li>Offer to <a href="https://lists.w3.org/Archives/Public/w3c-translators/2019JanMar/0020.html">translate</a> CEPC and other other documents</li>
        <li>Log issues related to CEPC and Positive Work Environment</li>
	    <li>Join PWECG</li>
    </ul>
</div>

  <div class="slide cover clear" id="end">
   <h1>Thank you!</h1>
   <p>Questions?</p>
  </div>


<!--
  <div class="slide" id="incremental">
   <h1>Incremental display</h1>
   <ul>
    <li>This item is shown right away</li>
    <li class="next">This one appears on a keypress</li>
    <li class="next">The second keypress reveals this</li>
   </ul>
  </div>

  <div class="slide side" id="side">
   <h1>An image on the side</h1>
   <img class="side"
	src="https://www.w3.org/Talks/2017/0520-CSS-Sud-Web/CSS_color_tree3t"
	alt="[Picture of a stylized tree with colorful, square leaves]" />
   <p>It seems the famous ‘lorem ipsum’ is based on a text by Cicero,
   but with the lines mixed up. On a Cicero by the text, it seems the
   ‘ipsum lorem’ is famous based with lines but mixed up.</p>
  </div>

  <div class="slide side r" id="right-side">
   <h1>An image on the side</h1>
   <img class="side"
	src="https://www.w3.org/Talks/2017/0520-CSS-Sud-Web/CSS_color_tree3t"
	alt="[Picture of a stylized tree with colorful, square
	     leaves]" />
   <p>And again, with class ‘slide side right’.</p>
   <p>It seems the famous ‘lorem ipsum’ is based on a text by Cicero,
   but with the lines mixed up. On a Cicero by the text, it seems the
   ‘ipsum lorem’ is famous based with lines but mixed up.</p>
  </div>

  <div class="slide" id="columns">
   <h1>In columns</h1>
   <div class="columns">
    <p>Children of an element with a class of ‘columns’ are
    distributed over two columns</p>
    <p>This is the second child, which goes into the right
    column</p>
    <p>And this is the third one. Left column again.</p>
    <p>Etc.</p>
   </div>
  </div>

  <div class="slide" id="place">
   <div class="place t l"><strong>place t l</strong></div>
   <div class="place t"><strong>place t</strong></div>
   <div class="place t r"><strong>place t r</strong></div>
   <div class="place l">Here is something for the left
   side, with class <strong>place l</strong></div>
   <div class="place">class <strong>place</strong> puts an element
   centered in a 3×3 grid</div>
   <div class="place r"><strong>place r</strong></div>
   <div class="place b l"><strong>place b l</strong></div>
   <div class="place b"><strong>place b</strong></div>
   <div class="place b r">combine <strong>place</strong> with
   <strong>top</strong> (or <strong>t</strong>),
   <strong>right</strong> (or <strong>r</strong>),
   <strong>bottom</strong> (or <strong>b</strong>) and
   <strong>left</strong> (or <strong>l</strong>)</div>
  </div>

  <div class="slide" id="numbered">
   <h1>Numbered lines of code</h1>
   <pre class="numbered">
Lines in a PRE can be numbered
                       (automatically)
  * Give the PRE a class of "numbered"
  * Works for up to 20 lines
                       (depending on font size)
  six
   seven
   eight
    nine
    ten
  eleven</pre>
  </div>

  <div class="slide" id="image-cover">
   <h1>Image overlay: cover</h1>
   <img src="https://www.w3.org/2018/10/Meetup/image/Lyon_Rhone_bkg.jpg"
	alt="A bridge over the Rhone in Lyon" class="cover" />
   <p class="place bottom right">Careful, some images make the text hard to
   read!</p>
  </div>

  <div class="slide" id="image-fit">
   <h1>Image overlay: fit</h1>
   <img src="https://www.w3.org/2018/10/Meetup/image/Lyon_Rhone_bkg.jpg"
	alt="A bridge over the Rhone in Lyon" class="fit" />
   <p class="place">Careful, some images make the text
   hard to read!</p>
  </div>


  <div class="slide" id="grow">
   <h1>Shout and grow!</h1>
   <p>Shout:</p>
   <p class="shout">Takahashi method!</p>
   <p>Shout &amp; Grow:</p>
   <p class="shout grow">Animated</p>
   <p class="grow">Grow: Don't use this too often!</p>
  </div>


  <div class="slide" id="transitions">
   <h1>Slide transitions</h1>
   <p>The style sheet predefines several transitions: fade-in, slide-in,
   move-left, etc.</p>
   <p>A transitions can be set globally, applying to all slides; or
   locally, applying only to the transtion between this slide and the
   next.</p>
  </div>


  
  <div class="slide cover clear" id="end">
   <h1>Thank you!</h1>
   <p>Questions?</p>
  </div>

  <!--=============================================================
			     User manual
  ==============================================================-->

  <div class="comment" id="manual">
   <h2>Setting up your slides</h2>

   <p>This is a template for slides for <a href="/2019/04/AC/">AC
   2019</a>. It uses either the <a href="http://shwr.me/">Shower</a>
   script (version 2.1.0) or the <a
   href="https://www.w3.org/Talks/Tools/b6plus/" >b6+</a> script for
   the presentation and has a style sheet based on the AC 2019 visual
   style.</p>

   <p>If you write slides for AC 2019, you can either put them online
   or download a zip with everything needed to present offline, as
   explained below.</p>

   <h3>Developing slides online</h3>

   <p>If you develop your slides <strong>online</strong> (or in CVS),
   then make a directory under <a
   href="https://www.w3.org/2019/Talks/ac-slides/"
   >https://www.w3.org/2019/Talks/ac-slides/</a>. Copy the <a
   href="https://www.w3.org/2019/Talks/ac-slides/template/Overview.html"
   >Overview.html</a> from <a
   href="https://www.w3.org/2019/Talks/ac-slides/template/"
   >https://www.w3.org/2019/Talks/ac-slides/template/</a> into your
   directory and edit the content, or just use is as an example.</p>

   <h3>Developing slides offline</h3>

   <p>If you develop your slides <strong>offline</strong> (or plan to
   present them without a network), then download this <a
   href="https://www.w3.org/2019/Talks/ac-slides/template/AC-2019-slides-template.zip"
   >zip file</a>. Unpacking it creates the following directories and
   files:</p>

   <ul class="tree">
     <li><code><strong>AC-2019/</strong></code><br />
      │</li>
     <li> └─ <code><strong>template/</strong></code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/Overview.html"
     >Overview.html</a> (this file)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/shower.min.js"
     >shower.min.js</a> (a JavaScript file)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/AC-2019-slides.css"
     >AC-2019-slides.css</a> (a CSS file)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/AC-2019-slides-banner.svg"
     >AC-2019-slides-banner.svg</a> (an SVG image)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/AC-2019-slides-banner.png"
     >TPAC-2019-slides-banner.png</a> (a PNG image)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/linen.png"
     >linen.png</a> (a PNG image)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/ramp.png"
     >ramp.png</a> (a PNG image)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/Gill_Sans_Italic.woff"
     >Gill_Sans_Italic.woff</a> (a Web font)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/Gill_Sans.woff"
     >Gill_Sans.woff</a> (a Web font)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/Gill_Sans_Bold.woff"
     >Gill_Sans_Bold.woff</a> (a Web font)</code><br />
          │</li>
     <li>     ├─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/Gill_Sans_Italic.woff"
     >Gill_Sans_Italic.woff</a> (a Web font)</code><br />
          │</li>
     <li>     └─ <code><a
     href="https://www.w3.org/2019/Talks/ac-slides/template/League_Gothic-webfont.woff"
     >League_Gothic-webfont.woff</a> (a Web font)</code></li>
   </ul>

   <p>Make a directory for your own slides under
   <strong>AC-2019</strong>. You can copy the
   <strong>Overview.html</strong> file there as a starting point, or
   just use it as an example. If you make any images, put them in that
   directory as well.</p>

   <p>If you are able to upload your slides, put your directory with
   all that it contains under <a
   href="https://www.w3.org/2019/Talks/ac-slides/"
   >https://www.w3.org/2019/Talks/ac-slides/</a>. There is no need to
   upload the <strong>template</strong> directory. It is is already
   there.</p>
   
   <h2>Writing slides</h2>

   <h3>Slides</h3>

   <p>Each slide is a <strong>div</strong> element<sup><a
   href="#note1">*</a></sup> with a class of
   <strong>slide</strong>:</p>

   <pre>&lt;div class="slide">
  ... slide content here...
&lt;/div></pre>

    <p>Inside the slides, use normal HTML elements (<strong>p, ul,
    em,</strong> etc.).</p>

    <p class="note" id="note1">*) Note for advanced users: Although
    not shown in this template, it is in fact possible to use other
    elements than <strong>div</strong>. One common choice is
    <strong>section.</strong></p>

    <h3>Slide numbers</h3>

    <p>If a slide should <em>not</em> show the slide number, add the
    class <strong>clear</strong>:</p>

    <pre>&lt;div class="slide clear">
  ... slide content here...
&lt;/div></pre>

    <h3>Title slides (cover slides)</h3>

    <p>For cover slides (the title slide or separator slides between
    parts of a presentation), add a class <strong>cover</strong>. You
    can combine <strong>cover</strong> and
    <strong>clear</strong>. E.g.:</p>

    <pre>&lt;div class="slide cover clear">
  &lt;h1>My presentations&lt;h1>
  &lt;address>Peter W. Slidemaker&lt;/address>
&lt;/div></pre>

    <h3>Illustrations on the left or right</h3>

    <p>Slides with narrower text and an illustration on the left can
    be made by adding the class <strong>side</strong> to the slide. Inside the
    slide there should be exactly one element that also has a class of
    <strong>side</strong> (an image or some other element):</p>

    <pre>&lt;div class="slide side">
  &lt;img src="..." alt="..." class="side">
  ... slide content here...
&lt;/div></pre>

    <p>The side element will occupy the left <span
    class="num">1/3</span> of the slide and the rest of the content
    the right <span class="num">2/3</span>.</p>

    <p>To put the image on the right instead, add class
    <strong>right</strong> (which may be abbreviated to
    <strong>r</strong>):</p>

    <pre>&lt;div class="slide side r">
  &lt;img src="..." alt="..." class="side">
  ... slide content here...
&lt;/div></pre>

    <h3>Automatic slide shows</h3>

    <p>Slides can be made to advance automatically after a given time,
    by setting a <strong>data-timing</strong> attribute on them with a
    value of <var>MM:SS</var> (minutes and seconds). E.g.,</p>

    <pre>&lt;div class="slide" data-timing="1:03"></pre>

    <p>This slide will remain on screen no longer than 1 minute and 3
    seconds, after which the next slide will be shown.</p>

    <h3>Progress bar</h3>

    <p>If you want a progress bar during the slide presentation, add
    an empty <strong>div</strong> with a class of
    <strong>progress</strong>. It can be put before the first slide or
    after the last, but there should be at most one such element in
    the file:</p>

    <pre>&lt;div class="progress">&lt;/div></pre>

    <p>The progress bar will show as a thin red line along the top of
    the slides. Its length increases from zero on the first slide to
    100% on the last.</p>

    <h3>Incremental display</h3>

    <p>To progressively reveal elements on a slide, put a class of
    <strong>next</strong> on all elements that should not be visible
    right away. They will become visible one by one as you press the
    spacebar or an arrow key. E.g.:</p>

    <pre>&lt;ul>
  &lt;li>This item is visible when the slide appears&lt;/li>
  &lt;li class="next">This item is not immediately visible&lt;/li>
  &lt;li class="next">This is the third item to appear&lt;/li>
&lt;/ul>
&lt;p class="next">This is the last element to appear&lt;/p></pre>

    <h3>Two columns</h3>

    <p>To put elements side by side in two columns, make an element (a
    <strong>div, ul</strong> or any other element) with class
    <strong>columns</strong>. The first child of that element will be
    put in the left column, the second child in the right column. If
    there are more children, the third will be in the left column
    again, the fourth in the right, etc.</p>

    <pre>&lt;ul class="columns">
  &lt;li>First goes on the left&lt;/li>
  &lt;li>Second goes on the right&lt;/li>
&lt;/ul></pre>

    <h3>Small text</h3>

    <p>Less important text can be shown in a smaller font by giving it
    a class of <strong>note</strong>:</p>

    <pre>&lt;p class="note">Note that this is harder to read&lt;/p></pre>

    <h3>Automatic line numbering</h3>

    <p>Pre-formatted text (in a <strong>pre</strong>) can be given
    line numbers by adding the class <strong>numbered</strong>:</p>

    <pre>&lt;pre class="numbered"></pre>

    <p>No more than 20 lines will be numbered. (In the normal font
    size, a slide fits 13 lines.)</p>

    <h3>3×3 Grid</h3>

    <p>It is possible to treat the slide as a 3×3 grid and put
    elements in the four corners, in the middle of each edge, or in
    the center of the slide. This is done by giving the elements a
    class of <strong>place</strong>. On its own,
    <strong>place</strong> puts the element in the center. By adding
    classes <strong>top, right, bottom</strong> and
    <strong>left</strong> the element can be placed in one of the
    eight other positions.</p>

    <pre>&lt;div class="place">Put this in the center&lt;/div>
&lt;div class="place bottom">Put this bottom center&lt;/div>
&lt;div class="place top right">In the top right corner&lt;/div></pre>

    <p>The direction classes can also be abbreviated to <strong>t, r,
    b</strong> and <strong>l</strong>.</p>

    <h3>Image overlays (background images)</h3>

    <p>To put an image behind the text of a slide, use an
    <strong>img</strong> with a class of <strong>cover</strong>:</p>

    <pre>&lt;img class="cover" src="..." alt="..."></pre>

    <p>The image will be stretched to fill the whole of the text area.
    If the image doesn't fit exactly (wrong aspect ratio), the image
    will be cropped.</p>

    <p>With a class of <strong>fit</strong> instead of
    <strong>cover</strong>, the image will be scaled but without
    cropping. Instead there may be white bands on the sides or
    above/below the image, if it doesn't fit exactly.</p>

    <pre>&lt;img class="fit" src="..." alt="..."></pre>

    <p>This works both for normal slides and title slides (slides with
    a class of <strong>cover</strong>). The logo on the right is not
    obscured by the image.</p>

    <h3>Slide transitions</h3>

    <p>By default, each slide just replaces the previous one, but
    there are several predefined slide transitions. You can set a
    transition on the <strong>body</strong> element to apply it to all
    slides:</p>

    <pre>&lt;body class="shower fade-in"&gt;</pre>

    <p>Or you can set it on individual slides, to apply only to the
    transition between that slide and the next. (I.e., it doesn't
    determine how the slide appears, but how it
    <em>disappears.</em>)</p>

    <pre>&lt;div class="slide wipe-left"&gt;</pre>

    <p>You can set both a global transition and local ones. The global
    transition applies to slides that do not have an explicit
    transition set locally.</p>

    <dl>
     <dt>fade-in</dt>
     <dd>The new slide appears faint at first and gets more opaque
     until it completely obscures the previous slide.</dd>

     <dt>slide-in</dt>
     <dd>The new slide moves in from the left, while the previous
     slide moves back to the left.</dd>

     <dt>move-left</dt>
     <dd>The new slides move in from the right while the old slide
     moves out to the left.</dd>

     <dt>move-up</dt>
     <dd>The old slide moves up and the new slide moves in from the
     bottom.</dd>

     <dt>flip-up</dt>
     <dd>A 3D effect: the bottom of the old slide is lifted up and the
     slide is turned over to reveal the new slide on its back
     side.</dd>

     <dt>flip-left</dt>
     <dd>Another 3D effect, but in this case the right side of the
     slide is lifted up and the slide is flipped over to the left,
     revealing the new slide on the back side.</dd>

     <dt>center-out</dt>
     <dd>A small circle appears in the middle of the old slide that
     reveals the new slide. The circle grows until it covers the whole
     slide.</dd>

     <dt>wipe-left</dt>
     <dd>The new slide moves in from the right, until it covers the
     old slide.</dd>

     <dt>zigzag-left</dt>
     <dd>A zigzag pattern moves in from the right. To the left is the
     old slide, to the right the new one.</dd>

     <dt>zigzag-right</dt>
     <dd>A zigzag pattern moves in from the left. To the left is the
     new slide, to the right the old one.</dd>

     <dt>cut-in</dt>
     <dd>The new slide moves in from the top left and covers the old
     slide.</dd>
    </dl>

    <h2>Presenting</h2>

    <p>To present the slides, load them into a browser that supports
    JavaScript and CSS and then click on the first slide.</p>

    <p>Navigate though the slides by pressing the spacebar, the arrow
    keys or Page-up/Page-Down. The Home and End keys jump to the
    first, resp. last slide.</p>

    <p>To exit the presentation, press the Esc key.</p>

    <p>The complete <a
    href="https://github.com/shower/shower/blob/master/docs/shortcuts.md"
    >list of key strokes</a> is in the Shower documentation.</p>
  </div>

  <div class="comment">
   <address>Created 4 March 2019 by <a
   href="mailto:bert@w3.org">Bert Bos</a>. Last modified
   $Date: 2019/03/13 14:24:28 $ by $Author: bbos $.</address>
  </div>
 </body>
</html>
